@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color-blue: #7867fd;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.rdw-editor {
  height: 90vh;
}

@media screen and (max-width: 768px) {
  .mobile-nav {
    z-index: 10 !important;
    width: 50% !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* font-size: calc(15px + 0.390625vw); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* giving full screen  */
.container-fluid {
  width: 100%;
}

/* to control max-width on larger screen */
.container-wrapper {
  max-width: 1920px;
  margin: auto;
}

.content-container {
  width: 95%;
  margin: auto;
}

.dp {
  padding: calc(8px + 1.5625vw);
}

.bg-custom-gradient {
  background: linear-gradient(
    90deg,
    #000000 19.96%,
    rgba(124, 101, 252, 0.2) 39.86%,
    rgba(152, 234, 114, 0.2) 58.21%,
    #000000 80.96%
  ) !important;
}

/* .border-gradient {
  border-width: 1px;
  border-style: solid;
  border-image-source: linear-gradient(102.15deg, rgba(166, 255, 124, 0.3) -36.38%, rgba(99, 102, 241, 0.3) 139.45%);
  border-image-slice: 1;
  border-radius: 8px;
} */

.element {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.element::-webkit-scrollbar {
  display: none;
}

.custom-checkbox {
  position: relative;
}

.custom-checkbox:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  color: #000000;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;    
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  padding: 20px;
}

.rdw-editor-toolbar {
  background: white !important;
  border: 1px solid #4b4b50 !important;
  border-radius: 8px !important;
  color: black !important;
  display: flex !important;
  justify-content: center !important;
  z-index: 0 !important;
}



