@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-color-blue: #7867fd;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.rdw-editor {
  height: 90vh;
}

@media screen and (max-width: 768px) {
  .mobile-nav {
    z-index: 10 !important;
    width: 50% !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* font-size: calc(15px + 0.390625vw); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* giving full screen  */
.container-fluid {
  width: 100%;
}

/* to control max-width on larger screen */
.container-wrapper {
  max-width: 1920px;
  margin: auto;
}

.content-container {
  width: 95%;
  margin: auto;
}

.dp {
  padding: calc(8px + 1.5625vw);
}

.bg-custom-gradient {
  background: linear-gradient(
    90deg,
    #000000 19.96%,
    rgba(124, 101, 252, 0.2) 39.86%,
    rgba(152, 234, 114, 0.2) 58.21%,
    #000000 80.96%
  ) !important;
}

.element {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.element::-webkit-scrollbar {
  display: none;
}
