@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Hide arrows for number input in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for number input in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}